* {
  padding: 0;
  margin: 0;
}

.mainpg {
  padding-top: 100px;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.squBg1{
  /* background-color: #c6c6c6; */
  position: absolute;
  /* z-index: -1; */
  width: 80vw;
  transform: -50% -50%;
  height:200vh;
  left: 25vw;
  background-color: #000000;
  transform: rotate(45deg);
  border-radius: 20px;
  z-index: -1;
}
.squBg2{
  /* background-color: #c6c6c6; */
  position: absolute;
  /* z-index: -1; */
  width: 80vw;
  scale: 1.05;
  /* transform: -50% -50%; */
  /* top: 20px; */
  border-radius: 20px;
  height:200vh;
  left: 25vw;
  background-color: #494949;
  transform: rotate(45deg);
  z-index: -2;
}

/* .skillIntro {
  width: 60vw;
  padding: 40px;
  font-size: 1.4rem;
  color: rgb(171, 171, 171);
}
.skillIntro p {
  width: 40vw;
  line-height: 170%;
  padding-top: 40px;
}
.skillIntroHeading {
  font-size: 2.2rem;
  color: rgb(223, 223, 223);
} */
/* background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%); */
/* .skillIntroHeading h1{
  font-size: 3.6rem;
  background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

} */
.skillImg {
  position: relative;
  width: 40vw;
  transform: translateX();
  transform: translateY();
  animation: 3s infinite ease-in-out hovering;
}
@keyframes hovering {
  0%   {top: 0px;}
  /* 25%  {top: 200px;} */
  50%  {top: 40px;}
  /* 75%  {top: -100px;} */
  100% {top: 0px;}
}
.skillImg img {
  width: 40vw;
}
.allSkills {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill {
  width: 28vw;
  margin: 2.5vw 0px;
  aspect-ratio: 2/1;
  display: flex;
  border: 2px solid ghostwhite;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
  overflow: hidden;
}

.skill:hover {
  border: 2px solid #fdc126;
  background-color: rgba(18, 18, 18, 0.384);
}
.skill:hover  > .cursor {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #c6c6c6;
  opacity: 0.5;
}
.skill:hover .cursor {
  opacity: 0;
}
.skillLogo {
  display: flex;
  width: 33%;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.skillInSec {
  color: rgb(255, 255, 255);
  width: 90%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.ripple{
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%,
  -50%);
  transition: .1s;
}
